<srr-elapsedtimer></srr-elapsedtimer>

<button (click)="buttonClick()">getValues</button>
<button (click)="startNow()">startNow</button>
<button (click)="pauseTimer()">pauseTimer</button>
<button (click)="resumeTimer()">resumeTimer</button>
<button (click)="delayStart()">delayStart</button>
<button (click)="setTimerExceedColourChange()">setTimerExceedColourChange</button>
<button (click)="resetTimer()">resetTimer</button>
<button (click)="setSettings()">setSettings</button>
<!-- <button (click)="buttonClick()">Click Me</button> -->